.box-itemStore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 30px 30px 0px;
    width: 22%;

    .img-itemStore {
        width: 100%;
    }

    .h4-itemStore {
        font-weight: 700;
        font-family: 'Lato';
        font-size: 12px;
        color:#041E50;
        margin-bottom: 2px;
    }

    .p-itemStore {
        font-family: 'Lato';
        font-size: 8px;
        color:#041E50;
        width: 55%;
        margin-bottom: 12px;
    }

    .span-itemStore {
        font-weight: bold;
        font-family: 'Lato';
        font-size: 13px;
        color:#041E50;
    }
}