.container-store {

    .box-store {
        max-width: 1002px;
        display: flex;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        box-sizing: border-box;
        display: flex;
        padding-top: 35px;
        flex-direction: column;

        .h3-store {
            font-weight: 500;
            font-family: 'Lato';
            font-size: 25px;
            color:#041E50;
            margin: 3px;
        }

        .strong-store {
            font-weight: 800;
            font-family: 'Lato';
            font-size: 25px;
            color:#041E50;
            margin-left: 8px;
        }

        .p-store {
            font-family: 'Lato';
            font-size: 16px;
            color:#041E50;
        }

        .dad-items {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;
        }

        .button-store {
            border: 1px solid #041e506e;
            border-radius: 5px;
            font-family: 'Lato';
            font-size: 13px;
            color:#041E50;
            padding: 9px 30px 9px 30px;
            background-color: white;
            cursor: pointer;
        }
    }
}