.ul-menu {
  padding: 0;
  position: relative;
  margin: 0;

  &:hover {
    .li-menu {
      #line-menu {
        display: block;
      }
    }
  }


  .li-menu {
    display: block;
    display: flex;
    align-items: center;
    
    #line-menu {
      border: 0;
      height: 4px;
      background-color: #041E50;
      margin: 0px 4px -15px 1px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      display: none;
    }

    .span-menu {
        font-family: 'Lato';
        font-size: 10px;
        color: #041E50;
        font-weight: 700;
        cursor: pointer;
    }

    .imgMenu {
      margin-left: 5px;
    }
  }
}