.container-brands {
    align-items: center;
    margin-top: 80px;
    text-align: center;

    .box-text {

        margin-bottom: 70px;

        h5{
            font-weight: 500;
            font-family: 'Lato';
            font-size: 25px;
            color: #041E50;
            margin: 3px;
        }
        .text-brands{
            color: #041e5063;
            font-size: 16px;
            font-family: 'Lato';
        }
    }
    .box-brands {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .arrow-left {
            margin-left: 39px;
        }

        .arrow-right {
            margin-right: 39px;
        }
    }
}