
  .box-header {
    display: flex;
    align-items: center;

    .box-img {
      margin-right: 13px;
    }
  }

  .text-header {
    color: white;
    font-size: 10px;
    font-family: 'Lato';
    font-weight: 600;

    .text-header-strong {
      color: white;
      font-size: 10px;
      font-family: 'Lato';
      font-weight: 900;
    }   
  }