.container-footer {
    background-color: #041E50;
    height: 353px;
    align-items: center;
    display: flex;

    .box-footer {
        max-width: 1002px;
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between
        
    }

    .informations-footer {
        display: flex;
        flex-direction: column;

        .icons-redes {
            margin-top: 25px;

            .icon {
                margin-right: 17px;
            }
        }
    }

    .informations-footer-newsletter {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
        align-items: center;
        justify-content: center;


        .newsletter {
            font-family: 'Lato';
            font-weight: 300;
            color: #041E50;
            margin-bottom: 8px;
            font-weight: 300;
            letter-spacing: 1px;
        }

        .span-footer {
            font-family: 'Lato';
            font-size: 13px;
            color:#041E50 ;
            font-weight: 300;
        }
    }

    h6 {
        font-family: 'Lato';
        font-size: 13px;
        color: white;
        font-weight: 900;
    }

    .text-footer {
        font-family: 'Lato';
        font-size: 10px;
        color: white;
        text-decoration: none;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .form-of-payment {
        margin-right: 6px;
    }    
}