.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .container-modal {
        background-color: white;
        width: 60%;
        height: 60%;
        color: #041E50;

        .close {
            background: transparent;
            border: none;
            outline: 0;
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
    }

}